---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Why from "../components/Why.astro";
import Companies from "../components/Companies.astro";
---

<Layout title="SAW Concensionario">
  <main>
    <Banner />
    <Why />
    <Companies />
  </main>
</Layout>
