<section
  class="relative bg-[url(/images/back-cocina.webp)] bg-cover bg-center bg-no-repeat bg-opacity-30 text-typo-100"
>
  <div
    class="absolute inset-0 bg-base-100/90 sm:bg-transparent sm:from-base-100 sm:to-base-300/50 sm:bg-gradient-to-r bg-gradient-to-l"
  >
  </div>

  <div
    class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-[75vh] lg:items-center lg:px-8"
  >
    <div class="max-w-xl text-center bg-opacity-70">
      <img
        src={`./images/logo-saw.png`}
        alt="Logo"
        class="object-contain m-auto"
      />

      <ul
        class="flex font-medium mt-4 rounded-lg flex-row justify-between md:justify-center md:space-x-8 md:mt-0 md:border-0 md:bg-transparent"
      >
        <li>
          <a
            href="tel:(744)486-2113"
            class="block py-2 pl-3 pr-4 text-white md:text-typo-100 md:p-0 hover:text-primary-300"
            >(744)486-2113</a
          >
        </li>
        <li>
          <a
            href="tel:(744)486-3629"
            class="block py-2 pl-3 pr-4 text-white md:text-typo-100 md:p-0 hover:text-primary-300"
            >(744)486-3629</a
          >
        </li>
      </ul>

      <p class="mt-8 max-w-lg sm:text-xl/relaxed text-justify font-semibold">
        Somos la solución confiable para mantener tus aparatos funcionando de
        manera óptima y prolongar su vida útil.
        <br />
        <br />
        Nuestra empresa cuenta con años de experiencia y un equipo de técnicos altamente
        capacitados, dispuestos a reparar tu <span class="font-bold text-white"
          >Refrigerador, lavadora, secadora, estufa, minisplit</span
        > y cualquier electrodoméstico.
      </p>
    </div>
  </div>
</section>
