<section
  class="relative bg-[url(./images/back-cocina.webp)] bg-cover bg-center bg-no-repeat bg-opacity-30 text-typo-100"
>
  <div
    class="absolute inset-0 bg-base-100/90 sm:bg-transparent sm:from-base-100 sm:to-base-300/50 sm:bg-gradient-to-r bg-gradient-to-l"
  >
  </div>

  <div
    class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-[75vh] lg:items-center lg:px-8"
  >
    <div
      class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right bg-opacity-70"
    >
      <h1 class="text-3xl font-extrabold sm:text-5xl">
        Saw

        <strong class="block font-extrabold text-primary-200">
          Concensionario
        </strong>
      </h1>

      <p class="mt-8 max-w-lg sm:text-xl/relaxed text-justify font-semibold">
        Somos la solución confiable para mantener tus aparatos funcionando de
        manera óptima y prolongar su vida útil.
        <br />
        <br />
        Nuestra empresa cuenta con años de experiencia y un equipo de técnicos altamente
        capacitados, dispuestos a resolver cualquier problema que puedan presentar
        tu lavadora, aires acondicionado, refrigerador, estufa, secadora y cualquier
        electrodoméstico
      </p>
    </div>
  </div>
</section>
