<footer class="bg-base-200 mt-32">
  <div class="mx-auto max-w-screen-xl px-4 pb-6 pt-16 sm:px-6 lg:px-8">
    <div class="lg:flex lg:items-center lg:justify-between">
      <div
        class="flex justify-center text-3xl font-bold md:text-5xl text-primary-100 sm:justify-start"
      >
        <h2>Saw Concensionario</h2>
      </div>

      <p
        class="mt-4 max-w-md text-left font-semibold leading-relaxed text-typo-200 lg:mt-0"
      >
        Contáctanos hoy mismo para programar una cita o solicitar más
        información sobre nuestros servicios de reparación de lavadoras, aires
        acondicionados, refrigeradores, estufas, secadoras y más.
        <br />
        <br />
        ¡Confía en nosotros para mantener tus electrodomésticos en perfecto estado!
      </p>
    </div>
  </div>
</footer>
